<div class="col">
  <h1>About</h1>

  <img src="https://arc-animal-rescue.github.io/arcanimalrescue.com/assets/images/logo.png" style="width:50%"/>
  <br>
  ARC Animal Rescue is a California-based animal rescue, commited to saving, sheltering, and homing pets, as well as preserving the natural wildlife and biodiversity of California.
</div>
<div class="col">
  <h1>Pages</h1>

  <a href="https://arc-animal-rescue.github.io/arcanimalrescue.com/static/index.html">Home</a><br>
  <a href="https://arc-animal-rescue.github.io/arcanimalrescue.com/static/blog.html">Blog</a><br>
  <a href="https://arc-animal-rescue.github.io/arcanimalrescue.com/static/resources.html">Resources</a><br>
  <a href="https://arc-animal-rescue.github.io/arcanimalrescue.com/static/big-ideas.html">Big Ideas</a><br>
  <a href="https://arc-animal-rescue.github.io/arcanimalrescue.com/static/lyrics.html">Lyrics</a><br>
  <a href="https://arc-animal-rescue.github.io/arcanimalrescue.com/static/contact.html">Donate</a>
</div>
<div class="col">
  <h1>Legal</h1>
  <a href="#">Privacy Policy</a><br>
  <a href="#">Terms and Conditions</a><br>
  <a href="mailto:inquiries@arcanimalrescue.com">Contact</a>
</div>