<a href="https://arc-animal-rescue.github.io/arcanimalrescue.com/static/contact.html"><img src="https://arc-animal-rescue.github.io/arcanimalrescue.com/assets/images/bark.png"/></a>
<a href="https://arc-animal-rescue.github.io/arcanimalrescue.com/static/index.html"><img src="https://arc-animal-rescue.github.io/arcanimalrescue.com/assets/images/logo.png"/></a>
<a href="https://arc-animal-rescue.github.io/arcanimalrescue.com/static/blog.html"><img src="https://https://arc-animal-rescue.github.io/assets/images/blog.png"/></a>
<a href="https://arc-animal-rescue.github.io/arcanimalrescue.com/static/ARC-Anti-Fireworks-Campaign.html"><img style="filter:revert" src="https://arc-animal-rescue.github.io/arcanimalrescue.com/assets/images/Poster9-navbar.png"/></a>
<a href="https://arc-animal-rescue.github.io/arcanimalrescue.com/static/xmas2022.html"><img src="https://arc-animal-rescue.github.io/arcanimalrescue.com/assets/images/xmas.png"/></a>
<a href="https://arc-animal-rescue.github.io/arcanimalrescue.com/static/big-ideas.html"><img src="https://arc-animal-rescue.github.io/arcanimalrescue.com/assets/images/big-ideas.png"/></a>
<a href="https://arc-animal-rescue.github.io/arcanimalrescue.com/static/lyrics.html"><img src="https://arc-animal-rescue.github.io/arcanimalrescue.com/assets/images/lyrics.png"/></a>
<a href="https://arc-animal-rescue.github.io/arcanimalrescue.com/static/contact.html"><img src="https://arc-animal-rescue.github.io/arcanimalrescue.com/assets/images/donations.png"/></a>
<!--<a href=""><img src="assets/images/search.png"/></a>-->

<br>

<i style="font-size: 1.3em; color: white;">"To Educate & Assist Folks to Love & Humanely Care for Plants & Animals"</i>
